.menu__list {
  box-sizing: border-box;
  padding: 5px;
  box-shadow: 0 9px 14px 0 rgb(0 0 0 / 20%);
  margin-bottom: 1px;
  text-align: center;
}
.menu__list:last-of-type {
  margin-bottom: 2px;
 
}

.menu__list:hover {
  cursor: pointer;
  transform: scale( 1.08);
  transition: transform 400ms;
}

