.description__title {
  max-width: 800px;
  font-weight: 900;
  font-size: 31px;
  line-height: 1.07;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .description__title {
    font-size: 30px;
    line-height: 1;
  }
  
}

@media screen and (max-width: 320px) {
  .description__title {
    font-size: 24px;
    line-height: 1;
  }
  
}